<section class="features">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <form class="register" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">

                    <fieldset>
                        <h2>Registration Form</h2>
                        <ng-container
                            *ngIf="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid">
                            <p class="error">
                                Username is required!
                            </p>
                        </ng-container>
                        <ng-container
                            *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
                            <p *ngIf="registerFormGroup.controls['email'].errors['required']" class="error"
                                class="error">
                                Email is required!
                            </p>
                            <p *ngIf="registerFormGroup.controls['email'].errors['email']" class="error" class="error">
                                Email is not valid!
                            </p>
                        </ng-container>
                        <ng-container
                            *ngIf="passwordsGroup.controls['password'].touched && passwordsGroup.controls['password'].invalid">
                            <p *ngIf="passwordsGroup.controls['password'].errors['required']" class="error">
                                Password is required!
                            </p>
                            <p *ngIf="passwordsGroup.controls['password'].errors['minlength']" class="error">
                                Password must be at least 5 characters!
                            </p>
                        </ng-container>
                        <ng-container
                            *ngIf="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['rePassword'].invalid">
                            <p class="error">Password does not match password!</p>
                        </ng-container>
                        <!-- username -->
                        <p class="field field-icon">
                            <label for="username"><span><i class="fas fa-user"></i></span></label>
                            <input formControlName="username"
                                [class.input-error]="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid"
                                [class.input-valid]="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].valid"
                                type="text" name="username" id="username" placeholder="Username">
                        </p>

                        <!-- email -->
                        <p class="field field-icon">
                            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                            <input formControlName="email"
                                [class.input-error]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid"
                                [class.input-valid]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].valid"
                                type="email" name="email" id="email" placeholder="Email">
                        </p>



                        <!-- password -->

                        <div formGroupName="passwords">
                            <p class="field field-icon">
                                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                                <input formControlName="password" type="password" name="password" id="password"
                                    [class.input-error]="passwordsGroup.controls['password'].touched && passwordsGroup.controls['password'].invalid"
                                    [class.input-valid]="passwordsGroup.controls['password'].touched && passwordsGroup.controls['password'].valid"
                                    placeholder="******">
                            </p>


                            <!-- rePassword -->
                            <p class="field field-icon">
                                <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                                <input
                                    [class.input-error]="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['rePassword'].invalid"
                                    [class.input-valid]="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['rePassword'].valid"
                                    formControlName="rePassword" type="password" name="rePassword" id="rePassword"
                                    placeholder="******">
                            </p>


                        </div>
                        <p class="text-center">
                            Have an account?
                            <a routerLink="/login">Log In</a>
                        </p>
                        <button>Register</button>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>