#header {
    background-color: rgba(12, 25, 46, 0.801);
}
#profileInfo{
    display: flex;
    padding: 10px;
    
}
#profileInfo a:hover {
    color: #a2cce3;
}
#profileInfo a:last-of-type{
    border-left: 1px solid white;
}

li a {
    font-size: 16px;
    letter-spacing: 1px;
}

li:last-of-type {
    margin-left: 70px;
    color: rgba(12, 25, 46, 0.801);
    border-radius: 10px;
}

li:last-of-type a {
    color: white;
    padding: 0 10px;
    font-weight: bold;
}