<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <h1 class="text-light"><a routerLink="/home"><span>Gold1e Gram</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a routerLink="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="active " routerLink="/home">Home</a></li>
        <li><a routerLink="/features">Features</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/catalog">Catalog</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/create-a-post">Create a post</a></li>

        <ng-container>
          <li id="profileInfo">
            <a *ngIf="isLoggedIn()" (click)="logoutHandler()" routerLink="/logout">Logout</a>
            <a *ngIf="!isLoggedIn() " routerLink="/login">Login</a>
            <a *ngIf="!isLoggedIn() " routerLink="/register">Register</a>
            <a *ngIf="isLoggedIn()" routerLink="/my-profile">User profile</a>
          </li>
        </ng-container>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->